//Colors
$silver: #C0C0C0;
$mine-shaft: #333333;

//Fonts
$headline-font: 'Hind', sans-serif;
$body-font: 'Open Sans', sans-serif;

//Global Vars
$transition-duration: .3s;
$image-path: '../img/';

//z-index
$modal: 20;
$full-screen-cover: 15;
$nav: 10;
$text: 5;
$default-z: 1;
$teapot: 0;