//Colors
$silver: #C0C0C0;
$mine-shaft: #333333;

//Fonts
$headline-font: 'Hind', sans-serif;
$body-font: 'Open Sans', sans-serif;

//Global Vars
$transition-duration: .3s;
$image-path: '../img/';

//z-index
$modal: 20;
$full-screen-cover: 15;
$nav: 10;
$text: 5;
$default-z: 1;
$teapot: 0;

//gradients
$background-gradient: radial-gradient(ellipse farthest-corner at 0% 100%, rgba(104,128,138,0.4) 10%, rgba(138,114,76,0) 40%),linear-gradient(to bottom, rgba(57,173,219,0.25) 0%, rgba(42,60,87,0.4) 100%),linear-gradient(135deg, #670d10 0%, #092756 100%);