.fadeInSideways {
	transform: translateX(0) !important;
	-webkit-transform: translateX(0) !important;
	opacity: 1 !important;
	transition: -webkit-transform $transition-duration ease, transform $transition-duration ease, opacity $transition-duration ease;
}

.page-header {
	background: $mine-shaft;
	color: #fff;
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0;
	z-index: 5;

	&__heading {
		float: left;
		margin: 0;
		@include vertical-align-all();
	}

	&__links {
		font-size: 1.5em;
		float: right;
		@include vertical-align-all();

		li {
			display: none;
		}

		li:last-child {
			display: inline-block;
			margin: 0 0 0 1.5em;
		}
	}
}

.splash {
	margin: 150px 10% 0 10%;
	font-size: 10vw;

	h2 {
		margin: 3% 0 0 0;
		text-align: center;
		line-height: 1;
		background: -webkit-linear-gradient($mine-shaft, lighten($mine-shaft, 10%));
		background-color: white;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

//just a quick note: I'm using width instead of flex-basis because IE has a bug where it assumes the terrible normal box model instead of using border-box. Dammit IE.
.main-section {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	padding: 2% 0 0 0;
	box-shadow: inset 0 0 10px rgba(black, 0.5);
	background: $background-gradient;
	transition: all $transition-duration ease; 
	color: white;

	&:hover {
		color: rgba(white, 0.9);
	}

	&__header {
  		padding: 0 0.5em;
  		display: flex;
		flex-direction: column;
		justify-content: center;
  	}

  	&__heading {
		font-size: 14vw;
		text-transform: uppercase;
		margin: 0;
		line-height: 1;
	}
}

.skills {

  	&__header {
		width: 100%;
		
  	}

	&__heading {
		
	}

	&__section {
		color: $mine-shaft;
		background: white;
		width: 100%;
		padding: 0 1.5em 1.5em 1.5em;
	}

	&__description {
		border-top: 5px solid lighten(silver, 20%);
		padding: 1.5em 0 0 0;
	}
	
}

.projects {

	&__header {
		width: 100%;
  	}

	&__description {
		position: absolute;
		top: 0;
		opacity: 0;
		background: rgba(#092756, 0.7);
		width: 100%;
		height: 100%;
		text-align: center;
		padding: 30% 0 0 0;
		font-size: 2em;
		transition: opacity $transition-duration ease, padding $transition-duration ease;

		&:hover {
			opacity: 0.9;
			padding: 40% 0 0 0;
		}

		& a {
			color: white;
		}
	}

	&__section {
		color: $mine-shaft;
		background: white;
		width: 100%;
		
		a {
			display: block;
			box-shadow: none;
			border-bottom: 0;
			margin: 0;
			padding: 0;

			&:hover {
				background: transparent;
				border: transparent;
			}
		}

		img {
			display: block;
		}
	}
}

.blog {

  	&__header {
		width: 100%;
  	}

	&__heading {
		
	}

	&__section {
		color: $mine-shaft;
		background: white;
		width: 100%;
		padding: 0 1.5em 1.5em 1.5em;
	}

	&__description {
	}
	
}

.contact {

	&__header {
		width: 100%;
  	}

	&__heading {
	}

	&__section {
		color: $mine-shaft;
		width: 100%;
		background: white;
		padding: 2em;
	}

	&__nav {
		font-size: 3em;
		line-height: 1;

		li {
			display: inline-block;
		}

		a {
			box-shadow: none;
			border: 0;

			&:hover {
				background: transparent;
				color: #092756;
			}
		}
	}
}

.page-footer {
	padding: 0 10% 2em 10%;

	& a {
		color: $mine-shaft;
		box-shadow: inset 0 -4px 0 $silver;
		border-bottom: 1px solid $silver;
		transition: all $transition-duration ease;

		&:hover {
			border-bottom: 3px solid $silver;
		}

	}

	&--color {
		margin: 0;
		padding-top: 2em;
		background: $background-gradient;
		color: white;

		& a {
			color: white;
		}
	}
}

//---------------------------------
//
//blog specific styles
//
//---------------------------------

.post {
	padding: 5%;

	li {
		display: list-item;
		list-style-type: disc;
		margin: 0 0 0 2em;
	}
}

.blog-nav__links {
	position: absolute;
	vertical-align: middle;
	font-size: 2em;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);

	a {
		color: $mine-shaft;

		&:hover {
			color: lighten($mine-shaft, 20%);
		}
	}

	&--previous {
		right: 2%;
	}

	&--next {
		left: 2%;
	}
}

